.forgotpassword-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-forgotpassword {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.forgotpassword-rightside {
  top: 0px;
  left: 720px;
  width: 720px;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.forgotpassword-rightside1 {
  top: 0px;
  left: 0px;
  width: 720px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(96, 113, 243, 1);
}
.forgotpassword-ellipse2 {
  top: 100px;
  left: 57px;
  width: 606px;
  height: 606px;
  position: absolute;
}
.forgotpassword-ellipse1 {
  top: 100px;
  left: 96px;
  width: 528px;
  height: 528px;
  position: absolute;
}
.forgotpassword-frame1 {
  top: 600px;
  left: 38px;
  display: flex;
  padding: 50px 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame3 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-group2 {
  width: 643px;
  height: 51px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.forgotpassword-text {
  color: rgba(224, 234, 255, 1);
  width: 643px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-text02 {
  top: 25px;
  color: rgba(224, 234, 255, 0.75);
  width: 643px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-carousel-desktop-large {
  width: 40px;
  height: 8px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.forgotpassword-rectangle68 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
}
.forgotpassword-rectangle69 {
  top: 0px;
  left: 20px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
}
.forgotpassword-rectangle70 {
  top: 0px;
  left: 32px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
}
.forgotpassword-undrawmypasswordreydq71 {
  top: 100px;
  left: 93px;
  width: 534px;
  height: 521px;
  position: absolute;
}
.forgotpassword-leftside {
  top: -106px;
  left: 0px;
  width: 720px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.forgotpassword-frame183 {
  gap: 25px;
  top: 389px;
  left: 113px;
  width: 494px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame180 {
  gap: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame179 {
  gap: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame178 {
  gap: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.forgotpassword-frame31 {
  width: 494px;
  height: 68px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.forgotpassword-text07 {
  color: rgba(9, 9, 11, 1);
  width: 489px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 20px;
}
.forgotpassword-text09 {
  color: rgba(113, 113, 122, 1);
  width: 494px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-frame182 {
  gap: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame181 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame174 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.forgotpassword-frame172 {
  gap: 10px;
  width: 453px;
  height: 64px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(128, 152, 249, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(127, 152, 249, 0.10000000149011612);
}
.forgotpassword-envelope {
  width: 30px;
  height: 30px;
}
.forgotpassword-text11 {
  
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  width: 100%;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.forgotpassword-frame176 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-frame175 {
  gap: 10px;
  width: 453px;
  height: 64px;
  display: flex;
 
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(127, 152, 249, 1);
}
.forgotpassword-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
